<div style="margin-top: 2em;">

<ul>
<li> <%= link_to 'Take the survey!', action: "info_letter" %></li>
<li>Make an important contribution to gay and
    bisexual men's health!</li>
<li>Recruit your friends!</li>
<li>Earn up to $20!</li>
</ul>

</div>
