
<div style="margin-left: 3em; margin-right: 3em;margin-bottom:3em;">

  <div  style="margin-top: 1em;">
    You are <b>eligible</b> to take the survey! <b>Please read</b> the following information and <b>indicate below</b> whether
    or not you agree to participate. 
  </div>

  <div>
  <%= render "info_letter_content" %>
</div>

  <div style="width: 100%;">
    <span style="float: right;">
      <%= link_to "Download a Copy of this Letter", root_url + "info_letter.pdf" %>
    </span>

    <span style="float: left;">
 <%= form_for @facebook_response, :url => {:action => 'update'}  do |f| %>
 <div id="facebook_login_button" style="margin-top: 1em;">


<div>Do you agree? If so, <b>please click the button below</b>. This will add a Facebook application <%= link_to "(Why?)", root_url +  "consent/facebook_login?commit=I+Agree" %>,
which you may remove after you finish the survey.</div>

<p>
       <fb:login-button 
        show-faces="false"
        scope="user_relationships,user_relationship_details,friends_relationships,friends_relationship_details"
        onlogin="$('#new_facebook_response').submit()">
        I agree to participate
      </fb:login-button>
</p>


<p>
If you do <b>not</b> wish to participate, please close this
window. <b>Thank you</b> for your consideration!
</p>
 

  <% end %>



  </div>

 
</div>


