<div class="content" id="recruit" >
<p>
To whom it may concern:
</p>
<p>
You recently completed the Men’s Health Survey (https://chiron.urmc.rochester.edu/consent). We are ready to pay participants for their responses however we are unable to validate your identity as an individual respondent, and so we can not pay you for your response. If we have made an error, you may contact us in writing at the address below.
</p>
<p>
Sincerely,
<p>
Vincent Silenzio, University of Rochester<br/>
Christopher Homan, Rochester Institute of Technology<br/>
Randell Sell, Drexel University
</p>
<p>
If you feel you have received this message in error, and would like to request a review to appeal this determination, please contact us in writing at the following address:
</p>
<p>
Snail Mail:<br/>
300 Crittenden Boulevard, Box Psych<br/>
Rochester, NY 14642
</p>
<p>
Email: vincent_silenzio@urmc.rochester.edu
</p>
</div>
