<div class="content" id="recruit" >

<p>
Hello,
</p>
<p>
Thank you for recently taking the Men's Health Survey. You should have received $5 in Amazon.com credit for participating in the study and $y for recruiting z friends. 
</p>
<p>
Please let us know if you have any questions or concerns. Thanks again!!!
</p>
<p>
Sincerely,
</p>
<p>
Vincent Silenzio, M.D., M.P.H., University of Rochester<br/>
Randall Sell, Sc.D., Drexel University<br/>
Christopher Homan, Ph.D., Rochester Institute of Technology
</p>
</div>

