<div class="content" id="recruit" >

<p>
Hello,
</p>
<p>
Thank you for recently taking the Men's Health Survey. You have not yet received your Amazon.com credit because we are still collecting data from other participants. Remember, you will receive $15 for participating in the study <b>and</b> you may recruit up to three friends to take the survey using this link:
</p>
<p>
<%= @invitation_url%> 
</p>
<p>
Once the study is finished, we will send you an additional $15 credit for <b>each</b> friend who completes the survey.
</p>
<p>
Please let us know if we can be of any assistance or if you have any questions. Thanks again!!!
</p>
<p>
Sincerely,
</p>
<p>
Vincent Silenzio, M.D., M.P.H., University of Rochester<br/>
Randall Sell, Sc.D., Drexel University<br/>
Christopher Homan, Ph.D., Rochester Institute of Technology
</p>
</div>
