<div class="content" id="recruit" style="margin-left: 3em; margin-right: 3em;color: #666666;">


<p>
 <b>Thank you!</b> You have <b>earned
 $5</b> in Amazon.com credit. We will send you an email with
 instructions on how to use it.
</p>
<p><b>We still need your help!</b> We will <b>pay you up to
 $15 more</b> ($20 total) to recruit up to <b>3 Facebook friends</b> to take the survey. They
 must be adult, gay/bisexual males.
</p>
<p>
For each friend who takes the survey <b>using this internet
    address</b>,
<div>
<a href ="<%= @invitation_url %>"><%=@invitation_url %></a>
</div>
we will pay you $5 in Amazon.com credit.</p>

<p>
We have found that for best results, you should <b>approach your
  friends as directly as possible</b>: in person, by phone, by email, or
  with a <span id="fb-invite">Facebook message</a>. Here is a <b>sample message</b> you could
  send (though using your <b>own words</b> is usually more effective).

 
<blockquote style="font-family:'Times New Roman',Georgia,Serif;color:#000000;font-size:11pt">
<div class="instructions">
<p>
  I just took a survey that will help to better understand the health
  concerns of gay men.  I earned $5 for completing the survey and will
  earn $5 for each of the first three friends of mine who complete
  it. You will earn $5 in Amazon credit if you take the survey and
  maybe additional credit by recruiting others to take it. If you would like to complete the survey please go to:
</p>
<p>
<a href ="<%= @invitation_url %>"><%=@invitation_url %></a>
</p>
<p>
Thank you!
</div>
</blockquote>

<p>
You can find additional information about the survey by going to: 
</p>
<p>
<a  href="http://www.lgbtdata.com/respondent-driven-sampling-in-social-computing-systems-project-redssocs.html">http://www.lgbtdata.com/respondent-driven-sampling-in-social-computing-systems-project-redssocs.html</a>
</p>
<p>
